@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: whitesmoke;
  overflow-x: hidden;
}
.card img {
  height: 80px;
  /* width: 100%; */
}
.card {
  /* background: #01a2d8; */
  /* background: #ffd334; */
  background:white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color: none;
}
.card h5{
  font-size: 15px;
}
.productsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.productsWrapper a {
  text-decoration: none;
  color: #513282;
}
.btn {
  border: none;
  outline: none;
  background: #764abc;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.toDisable {
  display: none;
}

.btn:hover {
  background: #513282;
}
/* .btn:active {
  background: #25ff33;
} */

.heading {
  margin: 1rem;
  padding: 25px 0;
}
.Recent-heading{
margin: 1rem;
}

.NavBox {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  background: #cbabff;
  /* background: white; */
  /* color: white; */
  box-shadow: 1px 10px 100px 4px rgba(132, 132, 132, 0.4);
}
.mobile-Navbar {
  display: none;
}
.mobile-Navbar .close-outline {
  display: none;
}

.logo {
  margin: 0.5rem;
  margin-left: 1rem;
  letter-spacing: 1.1px;
  /* height: 50px; */
  z-index: 9999;
}

.cartCount {
  font-weight: 550;
  font-size: 15px;
  vertical-align: top;
  margin-right: 3rem;
  color: #2616ff;
}
.navLink {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  letter-spacing: 1.15px;
}

.cartCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 5px;
}

.cartCard img {
  height: 80px;
  /* width: min-content; */
}
.Home-Box {
  /* margin: 1rem; */
  margin-top: 0;
}
.Home-Box section{
  margin: 1rem;
}
.Product-Loading {
  display: flex;
  justify-content: center;
}
.Product-Loading div {
  display: flex;
  justify-content: center;
}

.Product-Error {
  text-align: center;
}

/* Cart Styling */

.cart-container {
  padding: 0.5rem 2rem;
}
.cart-container h2 {
  font-weight: 400;
  font-size: 35px;
  text-align: center;
}
.cart-container .titles {
  margin: 2rem 0 1rem 0;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.cart-container .titles h3 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.cartCard,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.cartCard .cart-product {
  display: flex;
}
.cartCard .cart-product img {
  width: 90px;
  max-width: 100%;
  margin-right: 1rem;
}
.cartCard h5 {
  font-weight: 600;
  font-size: 15px;
}
.cartCard .cart-product h5 {
  font-weight: 400;
  font-size: 16px;
}
.cart-product-quantity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 130px;
  max-width: 100%;
}
.cart-product-quantity button {
  border: none;
  background: none;
  outline: none;
  padding: 0.7rem 0.7rem;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
}
.cart-product-quantity .count {
  padding: 0.5rem 0.5rem;
}
.total-price {
  padding-right: 0.5rem;
  font-weight: 700;
}
/* cart summary */

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}
.cart-summary .clear-btn {
  font-size: 17px;
  width: 130px;
  max-width: 100%;
  height: 40px;
  font-weight: 400;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
  color: grey;
  outline: none;
  background: none;
  cursor: pointer;
  letter-spacing: 1.15px;
}
.cart-checkout {
  width: 270px;
  max-width: 100%;
  margin-right: 9rem;
}
.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.cart-checkout .amount {
  font-weight: 700;
}
.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}
.cart-checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #764abc;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}
.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}
.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SingleProduct Styling */

.SingleProduct-container {
  display: flex;
  margin: 1rem 2rem 2rem 2rem;
  /* transform: translate(50%,50%); */
}
.SingleProduct-container img {
  /* width: 40%; */
  height: 500px;
  width: 400px;
  margin: 1rem;
}
.SingleProduct-data {
  width: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}
.SingleProduct-desc h5 {
  font-size: 15px;
  margin: 0;
  font-weight: 400;
  color: rgb(78, 78, 78);
  border-bottom: 2px double rgb(174, 137, 255);
  width: fit-content;
  /* padding: 0; */
}
.SingleProduct-desc p {
  color: gray;
  text-align: justify;
  letter-spacing: 1px;
}
.SingleProduct-price {
  font-weight: 600;
  font-size: 20px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.Back-btn {
  font-weight: 500;
  border: none;
  color: grey;
  outline: none;
  background: none;
  cursor: pointer;
  letter-spacing: 1.2px;
  font-size: 23px;
  margin-top: 3rem;
  margin-left: 3rem;
}

.SingleProduct-category h4 {
  font-weight: 500;
  color: rgb(101, 99, 99);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-top: 2px solid rgb(222, 221, 221);
  border-bottom: 2px solid rgb(222, 221, 221);
}

.SingleProduct-rating {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.SingleProduct-rating p {
  color: rgb(95, 93, 93);
  /* padding-left: 0.5rem; */
}

.SingleProduct-rating p span {
  color: rgb(121, 121, 121);
  padding-left: 0.1rem;
  letter-spacing: 0.5px;
  /* color: #b0b0b0; */
}

/* Homes-btn Styling */
.ViewMore-btn {
  margin: 2rem;
  text-align: center;
}
.ViewMore-btn button {
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1.15px;
  background-color: #764abc;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}
.SingleProduct-category h4 span {
  font-weight: 600;
  padding-left: 0.5rem;
  color: rgb(37, 35, 35);
  text-transform: capitalize;
}

/* Product Page Styling */

.ProductPage-Container {
  margin: 0.5rem;
}
.ProductPage-Container h3 {
  text-align: center;
  font-size: 25px;
  margin: 2rem 0rem 2rem 0rem;
}
.ProductPage-Items {
  margin: 1rem 2rem 1rem 2rem;
}
 /* Multi Carousel */

 .Home-RecentProd{
  background-color: #ffd334;
  padding: .5rem;
  border-radius: 20px;
  margin: 1rem;
 }
 .RecentCarousel{
  margin: 1rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
 
 }
 .RecentCarousel a{
  text-decoration: none;
  color: #513282;
 }

.NavCart-Name-Mobile{
  display: none;
}


/* Category */
.Category-Box{
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  height: 7vh;
  /* margin-top: 0; */
  text-transform: uppercase;
  background: rgb(255, 253, 235);
  /* margin-left:0; */
  /* border-right: 1px solid black; */

 
}
.Category-Box h3{
  display:inline;
  color: #564aff;
  margin-left: 1rem;
  border-right: 1px solid black;
  padding-right: 10px;
  /* margin: 0; */

}
/* .Category-Box ul{
  display: inline;
  margin: 0;
} */
.Category-display :hover{
 color: #757575;
 /* font-size: 18px; */
 /* background: none; */

}

.Category-display{
 display: inline-block;
 margin-left: 1rem;
 margin-right: 1rem;
 font-weight: 600;
 /* margin: 0; */

}
.Category-display a{
  text-decoration: none;
  color: black
}

.CategoryProduct-Box{
  margin: 1rem;
}
.CategoryProduct-Box h3{
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Remove-Newbtn{
  display: none;
}

/* Home-Product */
.Home-Products-Data{
  /* background-color: #513282; */
}



/* Responsive */

/* Navbar Responsive */

@media (max-width: 768px) {
  .NavCart-Name-Lap{
    display: none;
  }
  .NavCart-Name-Mobile{
    display: inline;
  }
  .NavBox{
    width: 100%;
  }
  .active{
    position: fixed;
    top:0;
  }
  .carousel {
    z-index: -1;
    position: relative;
  }
  
  .menu-outline{
   margin-right: 1rem;
  }
  .mobile-Navbar {
    display: inline-block;
    z-index: 999;
  }

  .NavItems {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -220%;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    transform: translateX(100%);
    transition: 0.5s ease-in;
    z-index: 100;
  }
  .navLink {
    font-size: 2.5rem;
    margin-top: 0rem;
    margin-bottom: 3rem;
    /* left:-1000%; */
    /* right: -100%; */
    /* transition: 0.5s ease-out; */
  }
  .active .mobile-nav-icon {
    display: none;
    /* font-size: */
    position: absolute;
    top: 2%;
    right: 5%;
    z-index: 9999;
    transition: all 0.3s ease;
    opacity: 5;
  }
  .active .close-outline {
    display: inline-block;
    top: 1rem;
    /* right: 0; */
  }
  .active .NavItems {
    visibility: visible;
    opacity: 5;
    transform: translateX(0);
    z-index: 999;
    left:0%;
  }

  .productsWrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  .card img {
    height: 80px;
  }
  .card {
    background: white;
    padding: 15px;
    text-align: center;
  }
  .card h4{
    font-size: 14px;
  }
  .ProductPage-Items {
    margin: 1rem 1rem 1rem 1rem;
  }
  .cart-checkout {
    width: 200px;
    max-width: 100%;
    margin-right: 2rem;
  }
  
  .cart-summary .clear-btn {
    font-size: 14px;
    width: 100px;
    height: 35px;
  }

  .cart-container {
    padding: 0.5rem 1rem;
  }
  .cart-container .titles {
    margin: 2rem 0 1rem 0;
    column-gap: 0.2rem;
  }
  .cart-container .titles h3{
    font-size: 14px;
  }
  .cartCard,
.cart-container .titles {
  column-gap: 0.2rem;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.cartCard .cart-product img {
  width: 60px;
  height: 80%;
  margin-right: .5rem;
}
.cartCard .cart-product h5{
  font-size: 12px;
}
.cartCard h5 {
  font-weight: 500;
  font-size: 13px;
  /* text-align: center; */
}
.cart-product-quantity {

  justify-content: center;
  width: 100px;

}
.cart-product-quantity button {
  font-size: 15px;
  font-weight: 500;
}
.cart-product-quantity .count {
  padding: 0.3rem 0.3rem;
  font-size: 15px;
}
.Removebtn{
  font-size: 11px;
}


.SingleProduct-container img {
  /* width: 40%; */
  height: 300px;
  width: 200px;
  margin: 1rem;
}
.SingleProduct-data h1{
  font-size: 25px;
}
.SingleProduct-desc h5 {
  font-size: 13px;
}
.SingleProduct-desc p {
  font-size: 14px
}
.SingleProduct-price {
  font-size: 18px;
  
}
.SingleProduct-category h4 {
  font-size: 12px;
}
.SingleProduct-rating p span {
  font-size: 14px;
}

.Back-btn {
  font-size: 20px;
 
}
.Category-Box{
  /* display: none; */
  height: 5vh;
  top:0;
}
.Category-display{
 font-size: 12px;
 }

 .Category-Box h3{
  font-size: 13px;
 }
}
@media screen and (max-width: 590px) {
  .Category-display{
    font-size: 10px;
    margin-left: .5rem;
    margin-right: .5rem;
    }
   
    .Category-Box h3{
     font-size: 11px;
    }
}

@media screen and (max-width: 480px) {
  .card img {
    /* height: 80px; */
    width: 100%;
  }
  .Home-Box {
    margin: .5rem;
  }
  .productsWrapper {
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .card{
    padding: 10px 4px 10px 4px;
  }
  .card h4{
    font-size: 12px;
  }
  .card .btn {
    font-size: 12px;
    padding: 4px 7px;
    font-weight: 500;
    
  }
  .ProductPage-Container{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  .ProductPage-Items {
    margin: 1rem .5rem 1rem .5rem;
  }
  .cart-container .titles h3{
    font-size: 12px;
  }
  .cartCard .cart-product img {
    width: 40px;
    height: 100%;
    margin-right: .5rem;
    margin-top: .5rem;
  }
  .cartCard .cart-product h5{
    font-size: 10px;
  }
  .cartCard h5 {
    font-weight: 500;
    font-size: 11px;
    text-align: center;
  }
  .cart-product-quantity{
    width: 60px;
  }
  .cart-product-quantity button {
    font-size: 13px;
    font-weight: 600;
    padding: 0.4rem 0.3rem;

  }
  .total-price {
    font-size: 14px;
    font-weight: 500;
  }
  
  .Removebtn{
    font-size: 10px;
    padding-left:4px ;
    padding-right:4px ;
  }


  .cart-checkout {
    width: 150px;
    max-width: 100%;
    margin-right: 1rem;
  }
  .cart-checkout .subtotal{
    font-size: 17px;
  }
  .cart-checkout p{
    font-size: 9px;
    letter-spacing: 1px;
  }
  .cart-summary .clear-btn {
    width: 80px;
    height: 35px;
    font-size: 12px;
  }
  .cart-checkout button{
    font-size:15px;
    height: 30px;
  }
  .continue-shopping{
    font-size: 14px;
  }
  .SingleProduct-container {
    display:block;
    margin: 1rem .5rem 1rem .5rem;
    /* transform: translate(50%,50%); */
  }
  .SingleProduct-container-ImgBox{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .SingleProduct-container img {
    height: 200px;
    width: 150px;
    margin: 1rem;
    justify-content: center;
  }
  .SingleProduct-data{
    display: inline;
  }

  .SingleProduct-data h1{
    font-size: 25px;
    
  }
  .SingleProduct-desc h5 {
    font-size: 13px;
  }
  .SingleProduct-desc p {
    font-size: 14px
  }
  .SingleProduct-price {
    font-size: 18px;
    
  }
  .SingleProduct-category h4 {
    font-size: 12px;
  }
  .SingleProduct-rating p span {
    font-size: 14px;
  }
  .Back-btn {
    font-size: 15px;
    margin-top: 1rem;
    margin-left: .5rem;
  }
  .toast-message{
    width: 50vw;
  }
  .Category-Box{
    /* display: none; */
    height: 5vh;
    top:0;
  }
  .Category-Box h3{
    display: none;
  }


}
@media screen and (max-width: 380px) {
 .Remove-Newbtn{
  display: inline;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
 }
 .Removebtn{
  border-radius: 50%;
 }
 .Remove-Oldbtn{
  display: none;
  
 }
  .cartCard .cart-product h5{
    font-size: 9px;
  }

.Category-display{
    font-size: 10px;
   
  }
  .Category-Box{
   margin-left: 0rem;
   margin-right: 0rem;
  }
 
}
