@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: whitesmoke;
  overflow-x: hidden;
}
.card img {
  height: 80px;
}
.card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color: none;
}
.productsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.productsWrapper a {
  text-decoration: none;
  color: #513282;
}
.btn {
  border: none;
  outline: none;
  background: #764abc;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn1 {
  border: none;
  outline: none;
  background: #764abc;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #513282;
}
/* .btn:active {
  background: #25ff33;
} */

.heading {
  padding: 25px 0;
}

.NavBox {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  background: white;
  box-shadow: 1px 10px 100px 4px rgba(132, 132, 132, 0.4);
}
.mobile-Navbar {
  display: none;
}
.mobile-Navbar .close-outline {
  display: none;
}

.logo {
  margin: 0.5rem;
  margin-left: 1rem;
  letter-spacing: 1.1px;
  z-index: 9999;
}

.cartCount {
  font-weight: 550;
  font-size: 15px;
  vertical-align: top;
  margin-right: 3rem;
  color: #2616ff;
}
.navLink {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  letter-spacing: 1.15px;
}

.cartCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 5px;
}

.cartCard img {
  height: 80px;
}
.Home-Box {
  margin: 1rem;
}
.Product-Loading {
  display: flex;
  justify-content: center;
}
.Product-Loading div {
  display: flex;
  justify-content: center;
}

.Product-Error {
  text-align: center;
}

/* Cart Styling */

.cart-container {
  padding: 0.5rem 2rem;
}
.cart-container h2 {
  font-weight: 400;
  font-size: 35px;
  text-align: center;
}
.cart-container .titles {
  margin: 2rem 0 1rem 0;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.cart-container .titles h3 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.cartCard,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.cartCard .cart-product {
  display: flex;
}
.cartCard .cart-product img {
  width: 90px;
  max-width: 100%;
  margin-right: 1rem;
}
.cartCard h5 {
  font-weight: 600;
  font-size: 15px;
}
.cartCard .cart-product h5 {
  font-weight: 400;
  font-size: 14px;
}
.cart-product-quantity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 130px;
  max-width: 100%;
}
.cart-product-quantity button {
  border: none;
  background: none;
  outline: none;
  padding: 0.7rem 0.7rem;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
}
.cart-product-quantity .count {
  padding: 0.5rem 0.5rem;
}
.total-price {
  padding-right: 0.5rem;
  font-weight: 700;
}
/* cart summary */

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}
.cart-summary .clear-btn {
  width: 130px;
  max-width: 100%;
  height: 40px;
  font-weight: 400;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
  color: grey;
  outline: none;
  background: none;
  cursor: pointer;
  letter-spacing: 1.15px;
}
.cart-checkout {
  width: 270px;
  max-width: 100%;
  margin-right: 9rem;
}
.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.cart-checkout .amount {
  font-weight: 700;
}
.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}
.cart-checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #764abc;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}
.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}
.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SingleProduct Styling */

.SingleProduct-container {
  display: flex;
  margin: 1rem 2rem 2rem 2rem;
  /* transform: translate(50%,50%); */
}
.SingleProduct-container img {
  /* width: 40%; */
  height: 500px;
  width: 400px;
  margin: 1rem;
}
.SingleProduct-data {
  width: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}
.SingleProduct-desc h5 {
  font-size: 15px;
  margin: 0;
  font-weight: 400;
  color: rgb(78, 78, 78);
  border-bottom: 2px double rgb(174, 137, 255);
  width: fit-content;
  /* padding: 0; */
}
.SingleProduct-desc p {
  color: gray;
  text-align: justify;
  letter-spacing: 1px;
}
.SingleProduct-price {
  font-weight: 600;
  font-size: 20px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.Back-btn {
  font-weight: 500;
  border: none;
  color: grey;
  outline: none;
  background: none;
  cursor: pointer;
  letter-spacing: 1.2px;
  font-size: 23px;
  margin-top: 3rem;
  margin-left: 3rem;
}

.SingleProduct-category h4 {
  font-weight: 500;
  color: rgb(101, 99, 99);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-top: 2px solid rgb(222, 221, 221);
  border-bottom: 2px solid rgb(222, 221, 221);
}

.SingleProduct-rating {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.SingleProduct-rating p {
  color: rgb(95, 93, 93);
  /* padding-left: 0.5rem; */
}

.SingleProduct-rating p span {
  color: rgb(121, 121, 121);
  padding-left: 0.1rem;
  letter-spacing: 0.5px;
  /* color: #b0b0b0; */
}

/* Homes-btn Styling */
.ViewMore-btn {
  margin: 2rem;
  text-align: center;
}
.ViewMore-btn button {
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1.15px;
  background-color: #764abc;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}
.SingleProduct-category h4 span {
  font-weight: 600;
  padding-left: 0.5rem;
  color: rgb(37, 35, 35);
  text-transform: capitalize;
}

/* Product Page Styling */

.ProductPage-Container {
  margin: 0.5rem;
}
.ProductPage-Container h3 {
  text-align: center;
  font-size: 25px;
  margin: 2rem 0rem 2rem 0rem;
}
.ProductPage-Items {
  margin: 1rem 2rem 1rem 2rem;
}

/* Responsive */

/* Navbar Responsive */

@media (max-width: 768px) {
  .menu-outline{
   margin-right: 1rem;
  }
  .mobile-Navbar {
    display: inline-block;
    z-index: 999;
  }

  .NavItems {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -220%;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .navLink {
    font-size: 2.5rem;
    margin-top: 0rem;
    margin-bottom: 3rem;
    /* left:-1000%; */
    /* right: -100%; */
    /* transition: 0.5s ease-out; */
  }
  .active .mobile-nav-icon {
    display: none;
    /* font-size: */
    position: absolute;
    top: 2%;
    right: 5%;
    z-index: 9999;
    transition: all 0.3s ease;
  }
  .active .close-outline {
    display: inline-block;
  }
  .active .NavItems {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    z-index: 999;
    left:0%;
  }
}
